
@import 'https://fonts.googleapis.com/css?family=Lato|PT+Sans+Narrow';

body {
    width: 100%;
    height: 100%;
    line-height: 135%;
}

.logo {
    float: left;
}

.title-main {
    float: left;
    margin-left: 1%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.top-menu {
    float: right;
}

.search {
    float: right;
}