body {
  min-width: 800px;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.main-header {
  padding: 5px 0;
}

.container {
  width: 660px;
  margin: 0 auto;

  /* для оформления схемы */
  /*min-height: 20px;*/
  padding: 5px;
}

.main-navigation {
  float: left;

  width: 520px;

  /* для оформления схемы */
  min-height: 20px;
}

.user-block {
  float: right;

  width: 90px;

  /* для оформления схемы */
  min-height: 20px;
}

.main-container {
  margin: 30px auto;
}

.logo {
  width: 270px;
  margin: 0 auto;
  margin-bottom: 20px;

  /* для оформления схемы */
  min-height: 120px;
}

.features-row {
  margin-bottom: 35px;

  /* для оформления схемы */
  padding: 5px;
}

.features-item {
  float: left;

  width: 195px;
  margin-right: 24px;

  /* для оформления схемы */
  min-height: 150px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 20px;
  padding: 35px 40px;
}

.index-content:last-child {
  /* для оформления схемы:
   в обычной верстке без рамок
   маргин будет выпадать из
   .container */
  margin-bottom: 0;
}

.content-column-left,
.content-column-right {
  width: 250px;

  /* для оформления схемы */
  min-height: 230px;
}

.content-column-left {
  float: left;
}

.content-column-right {
  float: right;
}

.main-footer {
  padding: 20px 0;
}

.footer-contacts {
  float: left;

  width: 220px;
  margin-right: 35px;

  /* для оформления схемы */
  min-height: 80px;
}

.footer-social {
  float: left;

  width: 140px;

  /* для оформления схемы */
  min-height: 80px;
}

.footer-copyright {
  float: right;

  width: 220px;

  /* для оформления схемы */
  min-height: 80px;
}