.header {
	display: flex;
	margin: 0 auto;
	width: 1366px;
}

.button{
	text-decoration: none;
	color: black;
	border: 1px solid black;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 16px 40px;
	width: 212px;
	font-size: 16px;
	line-height: 32px;
}

.verified-dummy .button{
	border-color: white;
	color: white;
}

section{
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.drawing-sketch{
	background-image: url("img/drawing-bg.jpg");
	width: 614px;
	padding-top: 71px;
	padding-left: 60px;
	padding-right: 103px;
}

.best-starting{
	background-image: url("img/best.jpg");
	color: black;
}

.verified-dummy{
	background-image: url("img/dummy.jpg");
	color: white;
}

.best-starting,
.verified-dummy{
	padding-top: 71px;
	padding-left: 60px;
	padding-right: 143px;
	width: 549px;
	height: 354px;
}

.drawing-sketch span,
.best-starting span,
.verified-dummy span{
	margin-bottom: 29px;
	margin-right: 10px;
}

.text{
	letter-spacing: 0.45px;
	line-height: 28px;
}

.main-content .text{
	margin-bottom: 80px;
}

.main-content .text:last-of-type{
	margin-bottom: 59px;
}

.main-content{
	font-size: 15px;
	color: white;
	display: flex;
	width: 1366px;
	height: 853px;
	box-sizing: border-box;
}

.main-content .container{
	display: flex;
	flex-direction: column;
}

.bold{
	font-weight: bold;
	margin-bottom: 37px;
}

.main-content .title:not(.bold){
	margin-left: 3px;
}

.main-content .title{
	display: inline-block;
	font-size: 45px;
	line-height: 44px;
}

body{
	font-family: "Roboto", sans-serif;
	margin: 0 auto;
	background-color: #282828;
}

.header-info{
	width: 460px;
	background-color: #f3f3f3;
}

.header-info-wrapper{
	padding: 57px 77px 103px 57px;
}

.header-info-wrapper p{
	line-height: 24px;
	letter-spacing: 30;
	word-wrap: break-word;
}

.header-info-wrapper p:first-of-type{
	margin-bottom: 37px;
}

p{
	margin-top: 0;
	font-size: 15px;
}

.header-title-wrapper{
	margin-top: 74px;
}

.header .title{
	display: inline-block;
	font-size: 40px;
	line-height: 50px;
}



.title:first-of-type,
.main-content .title{
	font-family: "Roboto Light", sans-serif;
}

.title:nth-of-type(2){
	font-family: "Roboto Bold", sans-serif;
	font-weight: bold;
}

.header .title:last-of-type{
	margin-bottom: 59px;
}

.menu-button{
	outline: none;
	border: none;
	background-color: transparent;
	height: 29px;
	width: 33px;
	background-image: url("img/menu.svg");
}

.artwork{
	width: 908px;
	height: 715px;
}