@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
header, aside {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #000000;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;

}

html {
        background-image: url('aa.png');
        background-position: center;
    background-color: #000000;
}

.merzbow {
    background-color: #000000;
    background-position: center;
}

.headlink{
    text-align: center;
    font-family: "Poppins";
    color: #ffffff;
    background-color: #000000;
    font-style: normal;
    font-size: 30px;
    padding: 25px;
    text-decoration: none;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

.headlink:hover{
    text-decoration: underline;
    background-color: #A52A2A;
    font-weight: bold;
}

.sidebar {
background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: 790px;
}

wrapper {
    height: 800px;
    display: flex;
    flex-direction: row;
}

.merzbow  h1 {
    font-size: 35px;
}
.merzbow > article {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

article {
    color: #ffffff;
    margin-left: 1px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.social>img{
    width: 75px;
}

.socials {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: right;
}

.social{
    margin-right: 40%;
    margin-left: 50%;
}

footer {
      position: absolute;
      background-color: #000000;
  right: 0;
  bottom: 0;
  left: 0;
}

table{
    margin:auto;
    padding: 5px;
}

th, td {
    border: 1px solid white;
    padding: 5px;
}