@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

header, aside, .header {
    font-family: 'Poppins', sans-serif;
    font-size: px;
    color: #000000;
}

p {
    text-indent: 100px;
    word-wrap: normal;
    word-break: normal;
    hyphens: none;
    width: 80%
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

html {
    background-image: url('aa.png');
    background-position: top;
    background-color: #000000;
}

body {
    margin: 0;
}

ul {
    font-size: 30px;
    font-weight: bold;
    margin:0;
}

.headlink{
    transition: 0.40s;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background-color: #000000;
    font-style: normal;
    font-size: 50px;
    padding: 15px;
    text-decoration: none;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

.headlink:hover{
    text-decoration: underline;
    background-color: #A52A2A;
    font-weight: bold;
}

.sidebar {
background-color: #000000;
    margin-top: 0px;
    display: flex;
    flex: 0 0 20%;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    height: 110%;
}

wrapper {
    height: 80%;
    display: flex;
}

.art .header; {
    margin-top: 10px;
    width: 100%;
    height: 20%;
}

.hypno img {
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: -200px;
    left: 100%;
    transition: 0.4s;
}

.hypno img:hover {
    border: 20px solid white;
}

.gallery, .hypno {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    top:30%;
    left: 25%;
    width: 30%;
}

.gallery img {
    margin-right: 20px;
    transition: 0.25s;
}

.gallery img:hover {
    border: 10px solid black;
}

.merzbow > article {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

article {
    color: #ffffff;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

img {
    width: 200px;
    height: 200px;
}

.gallery {
}
.social>img{
    transition: 0.25s;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50px;
    height: 50px;
}

.social>img:hover {
    background-color: white;
}

.socials {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: right;
}

.social{
    margin-right: 40%;
    margin-left: 50%;
}

footer {
    height: 120px;
    position: absolute;
    background-color: black;
    right: 0;
    bottom: 0;
    left: 0;
}

table{
    margin-left: 60%;
    margin-right: 0px;
    padding: 5px;
}

th {
    background-color: black;
}

th, td {
    border: 1px solid white;
    padding: 5px;
}

